

@import '../variables.scss';


.home-content {
  padding-top: 40px;
  min-height: calc(100vh - 63px);
}

.search-section{
  padding: 30px 0 44px 0;
}

.form-control {
    font-size: 23px;
    height: 50px;
}


@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}


.searching-icon{
  width:100px;
  height: 100px;
  display: block;
  margin: 40px auto;
  animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}

.alert-message {
  margin-left: 15px;
  margin-right: 15px;
}


.footer {
  padding: 10px 0;
  color: #fff;
  text-align: center;
  display: block;
  width: 100%;
  .footer-link {
    transition: ease-in-out 0.2s all;
    text-decoration: none;
    color: #fff;
    &:hover {
      color: $red-color;
    }
  }
}


