@import "../variables.scss";

.marvel-btn {
  background: $red-color;
  transition: ease-in-out 0.2s all;
  color: #fff;
  &:hover {
    background: darken($red-color, 15%);
  }
}

.home-content {
  padding-top: 40px;
  min-height: calc(100vh - 63px);
}

.search-section {
  padding: 30px 0 44px 0;
}

.search-input {
  font-size: 23px;
  height: 50px;
  @media (max-width: 768px) {
    font-size: 17px;
  }
}

.search-or-random {
  color: #fff;
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  display: block
}

.btn-random {
  @extend .marvel-btn;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-size: 23px;
  margin: 0 15px;
  @media (max-width: 768px) {
    font-size: 17px;
  }
}

.hero-icon {
  display: block;
  max-width: 44px;
  margin-left:5px;
}

.btn-clean-input {
  @extend .marvel-btn;
  padding: 0 20px;
  .fas {
    display: flex;
    align-self: center;
  }
}

@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.searching-icon {
  width: 100px;
  height: 100px;
  display: block;
  margin: 40px auto;
  animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
  infinite both;
  }

.alert-message {
  cursor: pointer;
}

.footer {
  padding: 10px 0;
  color: #fff;
  text-align: center;
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: center;
}

.made-by {
  line-height: 40px;
    .footer-link {
    transition: ease-in-out 0.2s all;
    text-decoration: none;
    color: #fff;
    &:hover {
      color: $red-color;
    }
  }
}

.math-github {
  color: #fff;
  padding-left: 10px;
  font-size: 25px;
  transition: ease-in-out 0.2s all;
  &:hover {
      color: $red-color;
    }
}
