.heroes-list {
  margin: 0 0 20px 0;
  overflow: hidden;
  @media (max-width: 768px) {
    margin: 0 15px 20px 15px;
  }
}

.heroes-list-item {
  display: flex;
  overflow: hidden;
  height: 400px;
  padding: 0;
  transition: ease-in-out 0.2s all;
  &:hover {
    transform: scale(1.1);
    position: relative;
    z-index: 1;
    box-shadow: 0 0 11px 10px #00000052;
  }
  @media (max-width: 768px) {
    &:hover {
      transform: scale(1);
      box-shadow: none;
    }
  }
}

.hero-detail-component {
  width: 100%;
  height: 100%;
}
