/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Play:400,700");
@import "~bootstrap/scss/bootstrap.scss";

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  font-family: "Play", sans-serif;
  background: #22262a;
}

.loading-wrapper {
  display: none;
}

figure,
img {
  width: 100%;
}

.is-hidden {
  display: none;
}

.modal-content {
  @media (max-width: 768px) {
    margin: 0px 20px 0 20px;
  }
}
